.menuButton {
	margin-right: 2em;
}

.navBlockTop {
    background-color: transparent!important;
    padding-top: 10px;
    height: 70px;
    box-shadow: none!important;
    border: none;
}

.navBlockBottom {
    background-color: black!important;
    padding-top: 10px;
    height: 70px;
}

.navToolBar button{
    margin-left: 40px;
}