.gridContainer {
    min-height: 100vh;
}

.profileImg {
    margin: 60px auto 30px auto;
    height: 200px!important;
    width: 200px!important;
}

.paper {
    margin: 0px auto;
    padding: 20px;
    width: 90%;
    font-family: 'Nunito Sans';
}
.paper h1 {
    letter-spacing: 2px;
}

.linkItem {
    margin: 10px;
}

.linkedin {
    background-color: #0077B5!important;
    display: inline-block!important;
}

.github {
    background-color: black!important;
    display: inline-block!important;
}

.linkItem svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentDiv {
    position: absolute;
    top: 0;
}

.particleDiv {
    background-color: black;
}