.experienceGrid {
    min-height: 100vh;
    padding: 100px;
    font-family: 'Nunito Sans';
    background-color: #f2f2f2;
}

.expRow {
    padding: 20px;
}

.expContent {
    display: inline-block;
    position: relative;
    width: 100%;
}

.expContent p, .expContent h3 {
    margin: 0px;
}

.expContent p:nth-of-type(2) {
    color: #999999;
}

.expContent p:nth-of-type(1) {
    position: absolute;
    top: 5px;
    right: 5px;
}

.experienceGrid h1 {
    letter-spacing: 4px;
    font-size: 36pt; 
    border-bottom: 1px solid black;
}

